* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightsteelblue;
}

.contenido {

    /*border: 1px solid rgb(255, 255, 255);*/

    width: 100%;
    margin-top: 0px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {

    border: 1px solid rgb(255, 255, 255);
    width: 470px;
    height: 500px;
    padding: 5px;
}

.task-group {
    /*border: 1px solid rgb(255, 255, 255);*/
    width: 450px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-agree {
    background-color: green;
    width: 100px;
    height: 35px;
    
    color: white;
    border-radius: 10px 10px 10px 10px;
    /*border-style: none;*/
}

.txt-addTask {
    background-color: aliceblue;
    width: 350px;
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    border-style: none;
}

.task-items {
    /*border: 1px solid rgb(230, 12, 12);*/

    width: 450px;
    height: 100px;

    padding: 10px;

    display: flex;

    flex-direction: row;
    justify-content: space-between;

    align-items:flex-start;

    margin-top: 10px;
    /*gap: 10px;*/
}

.task-resume {
    /*border: 1px solid blue;*/
    width: 120px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}

.task-list {
    /*border: 1px solid rgb(17, 255, 0);*/
    width: 300px;

    display: flex;
    flex-direction: row;

    justify-content: center;

    align-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.miLista {
    /*border: 1px solid white;*/
    width: 280px;
    height: 100px;
}