* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightsteelblue;
    display: flex;
}

.contenido {

    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 300px;

    flex-direction: column;

    justify-items: center;
    align-items: center;

}

.task-group {
    border: 1px solid rgb(4, 247, 8);
    width: 400px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-agree {
    background-color: green;
    width: 100px;
    height: 35px;

    color: white;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
}

.txt-addTask {
    background-color: aliceblue;
    width: 300px;
    height: 35px;
    border-radius: 3px 3px 3px 3px;
    border-style: none;
}

.task-items {
    border: 1px solid rgb(244, 12, 240);
    width: 70%;
    padding: 10px;
  

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.task-resume{
    border: 1px solid blue;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.task-list {
    border: 1px solid red;
    width: 100%;

    /*display: flex;*/

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.miLista{
    border: 1px solid white;
    width: 100%;
}

.id-list {
    width: 100px;
}

.task-list {
    width: 300px;
}